<h1 class="logo">Twitter</h1>


<% if current_user %>
<div class ="row">
    <div class="col-md-3 columns">
      <img id="egg" src="http://data3.whicdn.com/images/69351265/large.jpg">
      <%= render 'tweets/form' %>
    </div>
    <div class="col-md-5 columns">
      <h3>Tweet Deck:</h3>
      <div id="tweet-deck">
        <% current_user.f_tweets.each do |tweet| %>
        <div class="tweet-boarder">
          <% tweeter = '@' + User.find(tweet.user_id).username%>
          <h5><%=link_to tweeter, user_path(tweet.user_id)%></h5>
          <p><%= tweet.tweet%></p>
          <% if tweet.user_id == current_user.id %>

          <%= link_to image_tag("http://blogs.plos.org/neurotribes/files/2011/11/trashcan.jpg", id: "trash"), tweet_path(tweet.id), method: 'DELETE'  %>
          <%end%>

        </div>
        <% end %>
      </div>
      <br>
    </div>
    <div class="col-md-3 columns">
        <form action="/" method="get" class="form-group">
          <input name="search[query]" type="text" class="form-control" placeholder="search users"><br>
          <button class="btn btn-primary">search</button>
        </form>

      <% if !@results.nil? %>
        <h5>Results</h5>
        <% @results.each do |result| %>
          <p><%= link_to "@"+result.username, user_path(result.id)%></p>
        <% end %>
      <% end %>
    </div>

</div>
<% else %>
  <%= render 'form'%>
<% end %>




