<%= link_to image_tag("http://nyobetabeat.files.wordpress.com/2014/05/twitter-logo.png", class: "logo"), root_path%>

<div class="row">
<div class="col-md-3 columns">
  <img id="egg" src="http://data3.whicdn.com/images/69351265/large.jpg">
  <h2><%= '@'+@user.username %></h2>

  <%= link_to "Follow", user_follows_path(@user.id), method: "post",  class: "btn btn-primary btn-sm"  %>
  </br>
  </br>
  <p>following: <%= @user.follows.count%></p>
  <div>followers: <%= @user.followers %> </div>
  </br>

  <% if current_user.id == @user.id %>
    <%= render 'tweets/form' %>
  <% end %>
</div>
<div class="col-md-5 columns">
  <h3>Your tweets</h3>
  <div id="own-tweets">
    <%= render @user.tweets %>
  </div>
</div>

<div class="col-md-3 columns">
  <form action="/" method="get" class="form-group">
    <input name="search[query]" type="text" class="form-control" placeholder="search users"><br>
    <button class="btn btn-primary">search</button>
  </form>

  <% if !@results.nil? %>
    <h5>Results</h5>
    <% @results.each do |result| %>
      <p><%= link_to "@"+result.username, user_path(result.id)%></p>
    <% end %>
  <% end %>
</div>
</div>
