<h1>Twitter</h1>
<div class="col-md-2">
  <h2><%= '@'+@user.username %></h2>

  <%= link_to "Follow", user_follows_path(@user.id), method: "post",  class: "btn btn-primary btn-sm" %>
  <p>following: <%= @user.follows.count%></p>
  <p>followers: <%= @user.followers %> </p>
</div>

<div class="col-md-4">
  <% @user.tweets.each do |tweet| %>
    <p><%= tweet.tweet %></p>
  <% end %>
</div>
