<!DOCTYPE html>
<html>
<head>
  <title>TwitterClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
 <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="navbar-brand"><%= link_to "Timeline", root_path%></div>
      </div>
      <% if current_user != nil %>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><%= link_to "Me", user_path(current_user)%></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><p class="navbar-text">Logged in as <%= current_user.email %></p></li>
            <li><%= link_to "Log Out", logout_path%></li>
          </ul>
      <% else %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Sign up", signup_path%></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Login", login_path%></li>
          </ul>
        </div>
      <% end %>
    </div>
  </nav>

<body>
  <div class="container">

    <%= yield %>
  </div>

</body>
</html>
